<header *ngIf="user">
  <div class="wrapper">
    <div class="container-navs">
      <div>
        <button
          *ngFor="let route of routes"
          [ngClass]="{
            'btn-red': !(user && user.uid.length),
            'btn-green': user && user.uid.length,
            active: url.includes(route.path)
          }"
          [innerText]="route.name"
          (click)="user && user.uid.length && navigate(route.path)"
        ></button>
        <input type="text" [(ngModel)]="test">
        <button (click)="handleRoute(false)">Disable</button>
        <button (click)="handleRoute(true)" >Enable</button>
      </div>
      <div>
        <button class="btn-green" *ngIf="!user.uid.length">Login</button>
        <h2 [innerText]="user.name" *ngIf="user.uid.length"></h2>
        <button class="btn-yellow" (click)="logout()" *ngIf="user.uid.length">
          Logout
        </button>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</section>
